<img class="flag" src="{{flags.svg}}" alt="Flag" width="100px" />
<h2 class="country-name">{{name.official}}</h2>
<p class="capital-name"><span style="font-weight:700">Capital:</span> {{capital
}}</p>
<p class="population"><span style="font-weight:700">Population:</span> {{population
}}</p>
<p class="languages"><span style="font-weight:700">Languages:</span> {{languages}}</p>